::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track-piece{
	background-color: #FFF;
}

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
	outline: 2px solid #FFF;
	outline-offset: -2px;
	border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
}

* {
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-size: 10vw;
}
h2 {
  font-size: 6vw;
}

@media (min-width: 600px) { 
    h1 {
    font-size: 7vw;
  }
  h2 {
    font-size: 3vw;
  }
 }

@media (min-width: 992px) { 
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 2vw;
  }
}

