.text {
    font-size: 0.9vw;
}
.title {
    font-size: 1.5vw;
}

.title-big {
    font-size: 2.5vw;
}

.card {
    padding-top: 1vh;
    margin: 3vh;
}

@media (max-width: 1000px) {
    .text {
    font-size: 1vw;
    }
    .title {
        font-size: 1.8vw;
    }

    .title-big {
        font-size: 2.9vw;
    }
    .card {
        padding-top: 0.5vh;    
        margin: 1vh;
    }
}

@media (max-width: 900px) { 
    .text {
        font-size: 1.5vw;
    }
    .title {
        font-size: 2vw;
    }
    .title-big {
        font-size: 3vw;
    }
    .card {
        padding-top: 0;    
        margin: 1vh;
    }
}

@media (max-width: 500px) {
    .text {
        font-size: 2vw;
    }
    .title {
        font-size: 3vw;
    }
    .title-big {
        font-size: 5vw;
    }
    .card {
        padding-top: 0;    
        margin: 1vh;
    }
}

@media (max-width: 350px) {
    .text {
        font-size: 2.5vw;
    }
    .title {
        font-size: 3.3vw;
    }
    .title-big {
        font-size: 5vw;
    }
    .card {
        padding-top: 0;    
        margin: 1vh;
    }
    /* .btn {
        display: none;
    } */
    /* .btn-small {
        disp
    } */
}