.seta {
    animation: pulse 1s infinite;
    margin-top: 0;
    padding-top: 0;
}

.seta:hover {
    cursor: pointer;
}

@keyframes pulse{
    25%  {transform: translateY(10px);}
    75%  {transform: translateY(7px);}
}
